<h1 style="text-align:center;">This is your house: </h1>
<div style="text-align:center"><img src='../images/house.gif'></img></div>
<h1 style="text-align:center;">Your house currently has {{context}}</h1>

<div style="text-align:center;"">
<a href="/cats"><button name="button" type="button" style="font-size:18px; background-color:white;">View Cats</button></a>
<a href="/cats/new"><button name="button" type="button" style="font-size:18px; background-color:white;">Adopt a Cat</button></a>
<a href="/cats/delete/old"><button name="button" type="button" style="font-size:18px; background-color:white;">Send Cat to Farm</button></a>
<p style="font-size:18px;">To filter your cats by the color, type this URL: /cats/bycolor/<span style="color:blue;">desired color</span></p>
<p style="font-size:18px;">To filter your cats by name, type this URL: /cats/byname/<span style="color:red;">desired letter(s)</span></p>
<p style="font-size:18px;">To filter your cats by age, type this URL: /cats/byage/<span style="color:green;">minimum age-maximum age</span></p>
</div>
