<h1>{{context}}</h1>
<h1>{{name}}</h1>
<ul>
	<li>{{age}}</li>
	<li>{{color}}</li>
</ul>
<br><br>
<div style="padding-left:0.2cm;">
<a href="/"><button name="button" type="button" style="font-size:18px; background-color:white;">Back</button></a>
</div>