<div style="width: 100%; text-align: center; margin-top:20%">
<h1>Welcome to Twoter</h1>
<p>Please log in to continue.</p>
<a href="/auth/facebook"><button type='button'>Log in with Facebook</button></a>
 </div>